{{#if is_textarea}}
<textarea id="{{name}}" name="{{name}}" rows="4" {{#if readonly}}readonly{{/if}}>{{lookup ../record name}}</textarea>
{{else if is_checkbox}}
<div style="margin-bottom: 1rem;">
    <input id="{{name}}" name="{{name}}" type="checkbox" value="true" style="width: auto; margin-right: 0.5rem;" {{#if readonly}}disabled{{/if}} {{#if (lookup ../record name)}}checked{{/if}} />
</div>
{{else if is_select}}
<select id="{{name}}" name="{{name}}" {{#if readonly}}disabled{{/if}}>
    <option value="">Select...</option>
    {{#each enum_values}}
    <option value="{{this}}" {{#eq this (lookup ../../record ../name)}}selected{{/eq}}>{{this}}</option>
    {{/each}}
</select>
{{else}}
<input id="{{name}}" name="{{name}}" type="{{input_type}}" value="{{lookup ../record name}}" {{#if readonly}}readonly{{/if}} />
{{/if}}
