{{#if is_foreign_key}}
{{> admin/partials/lov_select}}
{{else if is_json_field}}
<textarea id="{{name}}" name="{{name}}" rows="6" style="font-family: monospace; font-size: 0.8125rem;" {{#if readonly}}readonly{{/if}}>{{lookup ../record name}}</textarea>
{{else if is_textarea}}
<textarea id="{{name}}" name="{{name}}" rows="4" {{#if readonly}}readonly{{/if}}>{{lookup ../record name}}</textarea>
{{else if is_checkbox}}
{{> admin/partials/toggle_switch}}
{{else if is_select}}
<select id="{{name}}" name="{{name}}" {{#if readonly}}disabled{{/if}}>
    <option value="">Select...</option>
    {{#each enum_values}}
    <option value="{{this}}" {{#eq this (lookup ../../record ../name)}}selected{{/eq}}>{{this}}</option>
    {{/each}}
</select>
{{else}}
<input id="{{name}}" name="{{name}}" type="{{input_type}}" value="{{lookup ../record name}}" {{#if readonly}}readonly{{/if}} />
{{/if}}
